

<md-card *ngFor="let chapter of chapters" (click)="onSelect(chapter)"
         [class.selected]="chapter === selectedChapter">

  <md-card-content>
    {{chapter.text}}
  </md-card-content>

  <md-card-actions  *ngIf="chapter === selectedChapter">
    <button  (click)="delete(story); $event.stopPropagation()">Supprimer</button>
    <button  (click)="gotoDetail(); $event.stopPropagation()">Modifier</button>
  </md-card-actions>

</md-card>

<md-card >

  <md-card-header>
    Ajouter un chapitre
  </md-card-header>

  <md-card-content>
    <div><label>Titre  : </label> <input type="text" [(ngModel)]="newChapter.title" required/></div>
    <div><label>Texte : </label> <input type="text" [(ngModel)]="newChapter.text" required/></div>
  </md-card-content>
<div>

  <button (click)="add(newChapter); ">
    Créer
  </button>
</div>

</md-card>
<button (click)="goBack()">Retour</button>
