
<!--<h2>My Heroes</h2>-->
<!--<ul class="heroes">-->
  <!--<li *ngFor="let hero of heroes" (click)="onSelect(hero)">-->
    <!--<span [class.selected]="hero === selectedHero" class="badge">{{hero.id}}</span> {{hero.name}}-->
  <!--</li>-->
<!--</ul>-->

<!--&lt;!&ndash;<div *ngIf="selectedHero">&ndash;&gt;-->
  <!--&lt;!&ndash;<h2>{{selectedHero.name}} details!</h2>&ndash;&gt;-->
  <!--&lt;!&ndash;<div><label>id: </label>{{selectedHero.id}}</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>name: </label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input [(ngModel)]="selectedHero.name" placeholder="name"/>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<app-detail-hero [hero]="selectedHero"></app-detail-hero>&ndash;&gt;-->
<!--<app-detail-hero [hero]="selectedHero">lol</app-detail-hero>-->

<!--<app-heroes-component  > .... </app-heroes-component>-->



<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<router-outlet></router-outlet>
