<!--<div *ngIf="selectedStory">-->
  <!--<h2>-->
    <!--{{selectedStory.title | uppercase}}-->
  <!--</h2>-->
  <!--<button (click)="gotoDetail()">View Details</button>-->
<!--</div>-->

<md-card *ngFor="let story of stories" (click)="onSelect(story)"
    [class.selected]="story === selectedStory">
  <!--<span class="badge">{{story.id}}</span>-->
  <md-card-header>{{story.title}}</md-card-header>
  <md-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
      Sed vel rutrum tellus. Suspendisse laoreet sapien id ante interdum, <br>
      sed sodales ante suscipit. Nam tempus nisl volutpat quam ultrices tincidunt. <br>
      Proin odio orci, viverra venenatis tellus ac, <br>
      volutpat viverra augue. Proin tempor elit dictum, blandit purus id, scelerisque nulla. <br>
      Aliquam erat volutpat. <br>
      Curabitur eros eros, tincidunt eu ornare vel, elementum eu ipsum. Praesent non tellus justo. <br>
      Nunc malesuada consectetur odio nec egestas. <br>
      Nulla sit amet odio in neque ultricies aliquam sed nec odio. Ut at semper orci, in accumsan diam.
  </md-card-content>
  <md-card-actions  *ngIf="story === selectedStory">
      <button  (click)="delete(story); $event.stopPropagation()">Supprimer</button>
      <button  (click)="gotoDetail(); $event.stopPropagation()">Modifier</button>
  </md-card-actions>
</md-card>

<div>
  <label>Story name:</label> <input #storyName />
  <button (click)="add(storyName.value); storyName.value=''">
    Créer
  </button>
</div>

<!--<app-detail-story [story]="selectedStory">lol</app-detail-story>-->
